<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Comfirmation</title>
  </head>
  <body>
    <h3>Thank you for purchasing</h3>
    <p><%= order._id %></p>
    <p><%= order.name %></p>
    <p><%= order.price %></p>
  </body>
</html>
